* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/illustration&background.svg") no-repeat top center;
  background-size: 100%;
}
/* header start*/



.navbar {
  padding-top: 15px;
  padding-bottom: 0px;
}

.navbar-mar {
  margin: 0 0 0 19rem;
}

li a {
  color: 
}

.margin-nav {
  font-size: 90%;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 0 5px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-light:hover,
.navbar-nav:hover, 
.nav-link:hover {
  color: rgba(0,0,0,.5);
}

.navbar-btn {
  position: relative;
  left: 5em;
}

/*header end*/

/* main start*/

main {
}

section {
}

.project {

}

.project-info {
}

.project-info h1 {
  position: relative;
  top: 1em;
  left: 2em;
}

.project-info button {
  position: relative;
  top: 5em;
  left: 5.3em;
}

.obj-img {
  width: 90%;
  position: relative;
  right: 0em;
}

.btn {
  text-transform: uppercase;
  border-radius: 1.2rem;
  padding: .6rem 2rem;
  border: 1px solid rgb(0, 0, 0);
  background: -webkit-gradient(linear, 0 0, 100 100%, from(#4222f7), to(#f77c33));
}

.navbar-btn {
  color:#ffffff;
  border: 1px solid #ffffff;
}

.btn-client {
  background: #ffffff;
}
.btn-start {
  color:#ffffff;
  border: none;
}

p {
  height: 300px;
}

/*main end*/

@media only all and (min-width: 1200px) {
  body {
    background-size: 1600px;
  }

  ul {
    position: relative;
    top: 0em;
    left: 5em;
  }

  .navbar-btn {
    position: relative;
    top: 0em;
  }

  .project-info h1 {
    position: relative;
    top: 2.2em;
    width: 15em;
  }
  
  .project-btn button {
    position: relative;
    top: 10em;
  }

  .btn-client {
    margin: 0 3em 0 0;
  }

  object {
    width: 40em;
    position: relative;
    left: 0.5em;
  }

}

@media only all and (max-width: 1200px) {
  body {
    background-size: 1500px;
  }

  .navbar {
    padding-top: 5px;
    padding-bottom: 0px;
  }
  
  ul {
    position: relative;
    top: 0em;
    right: 10em;
  }

  .navbar-btn {
    position: relative;
    top: 0em;
    right: 12em;
  }

  li .margin-nav {
    text-align: center;
    margin: 0.1em;
    width: 110px;
    padding: 20px;
  }

  .project-info h1 {
    position: relative;
    top: 1.5em;
    left: 0;
    width: 10em;
  }
  
  .project-btn button {
    position: relative;
    top: 5em;
    left: 4em;
    margin: 0 1em 0 0;
  }

  object {
    width: 35em;
    position: relative;
    left: 1.5em;
  }

  ul {
    position: relative;
    top: 0em;
    left: 1em;
  }

  .navbar-mar {
    margin: 0 0 0 6rem;
  }

  li .margin-nav {
    text-align: center;
    margin: 0em;
    width: 116px;
    padding: 20px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 90%;

    color: rgba(92, 92, 92, 0.9);
  }
  
  .navbar-light:hover,
  .navbar-nav:hover, 
  .nav-link:hover {
    color: rgba(0, 0, 0, 0.5);
  }

  .navbar-btn {
    position: relative;
    top: 0em;
    left: 2.5em;
  }

  .project-btn {
    position: relative;
    top: 0;
    left: 0;
    width: 30em;
  }

  .project-info button.btn-client {
    position: relative;
    top: 8.5em;
    left: .1em;
    margin: 0 20px 0 0;
  }

  .project-info button.btn-start {
    position: relative;
    top: 8.3em;
    left: 2em;
    margin: 0;
  }

}

@media only all and (max-width: 991px) {
  #navbarSupportedContent {
    margin: 0;
  }
  .navbar-btn {
    margin: 0;
  }

  .project-info h1 {
    position: relative;
    top: 1em;
    left: 1em;
    width: 8em;
  }
  .project-info button {
    width: 200px;
  }

  .project-info button.btn-client {
    position: relative;
    top: 4em;
    left: 3em;
    margin: 0 1em 0 0;
  }

  .project-info button.btn-start {
    position: relative;
    top: 7em;
    left: -10.6em;
    margin: 0 1em 0 0;
  }

  .project-img img {
    width: 70%;
    position: relative;
    bottom: 13em;
    left: 12em;
  }
}
