@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/illustration&background.svg") no-repeat top center;
}
/* header start*/



/*.navbar {
  padding-top: 15px;
  padding-bottom: 0px;
}

.navbar-mar {
  margin: 0 0 0 19rem;
}

li a {
  color: 
}

.margin-nav {
  font-size: 90%;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 0 5px;
}



.navbar-light:hover,
.navbar-nav:hover, 
.nav-link:hover {
  color: rgba(0,0,0,.5);
}

.navbar-btn {
  position: relative;
  left: 5em;
}

/*header end*/

/* main start*/

main {
}

section {
}

.project {

}

.project-info {
}

/*.project-info h1 {
  position: relative;
  top: 1em;
  left: 2em;
}

.project-info button {
  position: relative;
  top: 5em;
  left: 5.3em;
}

.obj-img {
  width: 90%;
  position: relative;
  right: 0em;
}*/

.navbar-light .navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

.navbar-light:hover,
.navbar-nav:hover, 
.nav-link:hover {
  color: #1e0e61;
}

.navbar-light:active,
.navbar-nav:active, 
.nav-link:active {
  color: #1e0e61;
  text-shadow: 0 0 15px rgba(69,155,191,0.9);
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 120%;
  border-radius: 2em;
  padding: .7em 2.5em;
  border: 1px solid rgb(0, 0, 0);
  background: -webkit-gradient(linear, 0 0, 100 100%, from(#4222f7), to(#f77c33));
  transition: 0.2s;
}

.navbar-btn {
  color:#ffffff;
  border: 1px solid #ffffff;
}

.navbar-btn:hover {
  color: #1e0e61;
  border: 1px solid #1e0e61;
  background: #ffffff;
}

.navbar-btn:active {
  color:#ffffff;
  border: none;
  background: #60cbf3;
  box-shadow:0 0 0 5px rgba(69,155,191,0.5);
}

.btn-client {
  background: #ffffff;
  color: #1e0e61;
  border: 1px solid #1e0e61;
}

.btn-client:hover {
  color:#ffffff;
  border: none;
  background: #60cbf3;
}

.btn-client:active {
  color:#ffffff;
  border: none;
  background: #206aff;
  box-shadow:0 0 0 5px rgba(69,155,191,0.5);
}

.btn-start {
  color:#ffffff;
  border: none;
}

.btn-start:hover {
  color: #1e0e61;
  border: 1px solid #1e0e61;
  background: #ffffff;
}

.btn-start:active {
  color:#ffffff;
  border: none;
  background: #206aff;
  box-shadow:0 0 0 5px rgba(69,155,191,0.5);
}

p {
  height: 300px;
}

/*main end*/


@media (min-width: 1400px) {
  body {
    background-size: 1920px;
  }

  nav {
    margin: 12px 0 0 0;
  }

  .navbar-brand {
    position: relative;
    right: 12em;
  }

  .navbar-btn {
    position: relative;
    left: 8em;
    margin: 0 0 0 5px;
  }
  .collapse {
    position: relative;
    left: 20em;
  }

  .margin-nav-wp,
  .margin-nav-cs,
  .margin-nav-ot,
  .margin-nav-co {
    font-size: 120%;
    text-align: center;
    text-transform: uppercase;
    width: 9em;
    margin: 0 0 0 5px;
    position: relative;
    left: 7.5em;
  }

  .margin-nav-ot,
  .margin-nav-co {
    width: 6em;
  }

  .project-info h1 {
    font-family: 'Rubik', sans-serif;
    position: relative;
    top: 1.5em;
    right: 0.7em;
    font-size: 3.9em;
    width: 10em;
  }

  .project-info h1 b {
    font-family: 'Rubik', sans-serif;
    color: #1e0e61;
  }
  
  .project-btn {
    width: 15em;
  }

  .row .project-btn {
    position: relative;
    top: 9.3em;
    right: 2.5em;
    margin: 0 0 0 0;
  }

  .btn-start {
    position: relative;
    top: 0;
    left: 2.5em;
  }

  object {
    width: 43em;
    position: relative;
    top: 1.7em;
    left: 3.7em;
  }
}

@media (min-width: 1920px) {
  body {
    background-size: 2100px;
  }

  nav {
    margin: 12px 0 0 0;
  }

  .navbar-brand {
    position: relative;
    right: 12em;
  }

  .navbar-btn {
    position: relative;
    left: 7em;
    margin: 0 0 0 5px;
  }
  .collapse {
    position: relative;
    left: 20em;
  }

  .margin-nav-wp,
  .margin-nav-cs,
  .margin-nav-ot,
  .margin-nav-co {
    font-size: 120%;
    text-align: center;
    text-transform: uppercase;
    width: 9em;
    margin: 0 0 0 5px;
    position: relative;
    left: 7.5em;
  }

  .project-info h1 {
    font-family: 'Rubik', sans-serif;
    position: relative;
    top: 1.9em;
    right: 1.2em;
    font-size: 3.9em;
    width: 10em;
  }

  .project-info h1 b {
    font-family: 'Rubik', sans-serif;
    color: #1e0e61;
  }
  
  .project-btn {
    width: 15em;
  }

  .row .project-btn {
    position: relative;
    top: 11.4em;
    right: 4.3em;
    margin: 0 0 0 0;
  }

  .btn-start {
    position: relative;
    top: 0;
    left: 2.5em;
  }

  object {
    width: 45em;
    position: relative;
    top: 2.8em;
    left: 5em;
  }

}

@media only all and (min-width: 2300px) {
  body {
    background-size: 2600px;
  }

  nav {
    margin: 12px 0 0 0;
  }

  .navbar-brand {
    position: relative;
    right: 12em;
  }

  .navbar-btn {
    position: relative;
    left: 2em;
    margin: 0 0 0 5px;
  }
  .collapse {
    position: relative;
    left: 36em;
  }

  .margin-nav-wp,
  .margin-nav-cs,
  .margin-nav-ot,
  .margin-nav-co {
    font-size: 120%;
    text-align: center;
    text-transform: uppercase;
    width: 9em;
    margin: 0 5px 0 0 ;
    position: relative;
    left: 1.2em;
  }

  .project-info h1 {
    font-family: 'Rubik', sans-serif;
    position: relative;
    top: 3em;
    right: 2.5em;
    font-size: 3.9em;
    width: 10em;
  }

  .project-info h1 b {
    font-family: 'Rubik', sans-serif;
    color: #1e0e61;
  }
  
  .project-btn {
    width: 15em;
  }

  .row .project-btn {
    position: relative;
    top: 18.5em;
    right: 9.2em;
    margin: 0 0 0 0;
  }

  .btn-start {
    position: relative;
    top: 0;
    left: 2.5em;
  }

  object {
    width: 58em;
    position: relative;
    top: 4.2em;
    left: 3.5em;
  }

}

@media (max-width: 1399px) {
  body {
    background-size: 1600px;
  }

  nav {
    margin: 12px 0 0 0;
  }

  .navbar-brand {
    position: relative;
    right: 12em;
  }

  .navbar-btn {
    font-size: 100%;
    position: relative;
    left: 15em;
    margin: 0 0 0 5px;
  }
  .collapse {
    position: relative;
    left: 20em;
  }

  .margin-nav-wp,
  .margin-nav-cs,
  .margin-nav-ot,
  .margin-nav-co {
    font-size: 100%;
    text-align: center;
    text-transform: uppercase;
    width: 9em;
    margin: 0 0 0 5px;
    position: relative;
    left: 13.7em;
  }

  .margin-nav-ot,
  .margin-nav-co {
    width: 6em;
  }

  .project-info h1 {
    font-family: 'Rubik', sans-serif;
    position: relative;
    top: 1.7em;
    left: 1.2em;
    font-size: 2.9em;
    width: 10em;
  }

  .project-info h1 b {
    font-family: 'Rubik', sans-serif;
    color: #1e0e61;
  }
  
  .project-btn {
    width: 15em;
  }

  .row .project-btn {
    position: relative;
    font-size: 80%;
    top: 11.3em;
    left: 5em;
    margin: 0 0 0 0;
  }

  .btn-start {
    position: relative;
    top: 0;
    left: 2.5em;
  }

  object {
    width: 40em;
    position: relative;
    top: .3em;
    left: 1.4em;
  }
}

/*@media only all and (min-width: 1200px) {
  body {
    background-size: 1600px;
  }

  ul {
    position: relative;
    top: 0em;
    left: 5em;
  }

  .navbar-btn {
    position: relative;
    top: 0em;
  }

  .project-info h1 {
    position: relative;
    top: 2.2em;
    width: 15em;
  }
  
  .project-btn button {
    position: relative;
    top: 10em;
  }

  .btn-client {
    margin: 0 3em 0 0;
  }

  object {
    width: 40em;
    position: relative;
    left: 0.5em;
  }

}*/

/*@media only all and (max-width: 1200px) {
  body {
    background-size: 1500px;
  }

  .navbar {
    padding-top: 5px;
    padding-bottom: 0px;
  }
  
  ul {
    position: relative;
    top: 0em;
    right: 10em;
  }

  .navbar-btn {
    position: relative;
    top: 0em;
    right: 12em;
  }

  li .margin-nav {
    text-align: center;
    margin: 0.1em;
    width: 110px;
    padding: 20px;
  }

  .project-info h1 {
    position: relative;
    top: 1.5em;
    left: 0;
    width: 10em;
  }
  
  .project-btn button {
    position: relative;
    top: 5em;
    left: 4em;
    margin: 0 1em 0 0;
  }

  object {
    width: 35em;
    position: relative;
    left: 1.5em;
  }

  ul {
    position: relative;
    top: 0em;
    left: 1em;
  }

  .navbar-mar {
    margin: 0 0 0 6rem;
  }

  li .margin-nav {
    text-align: center;
    margin: 0em;
    width: 116px;
    padding: 20px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 90%;

    color: rgba(92, 92, 92, 0.9);
  }
  
  .navbar-light:hover,
  .navbar-nav:hover, 
  .nav-link:hover {
    color: rgba(0, 0, 0, 0.5);
  }

  .navbar-btn {
    position: relative;
    top: 0em;
    left: 2.5em;
  }

  .project-btn {
    position: relative;
    top: 0;
    left: 0;
    width: 30em;
  }

  .project-info button.btn-client {
    position: relative;
    top: 8.5em;
    left: .1em;
    margin: 0 20px 0 0;
  }

  .project-info button.btn-start {
    position: relative;
    top: 8.3em;
    left: 2em;
    margin: 0;
  }

}*/

/*@media only all and (max-width: 991px) {
  #navbarSupportedContent {
    margin: 0;
  }
  .navbar-btn {
    margin: 0;
  }

  .project-info h1 {
    position: relative;
    top: 1em;
    left: 1em;
    width: 8em;
  }
  .project-info button {
    width: 200px;
  }

  .project-info button.btn-client {
    position: relative;
    top: 4em;
    left: 3em;
    margin: 0 1em 0 0;
  }

  .project-info button.btn-start {
    position: relative;
    top: 7em;
    left: -10.6em;
    margin: 0 1em 0 0;
  }

  .project-img img {
    width: 70%;
    position: relative;
    bottom: 13em;
    left: 12em;
  }
}*/
